/*Jett (Hannah) McHugh Project 1 CSS document*/
body {
    background:#3D246C;
    color:#50009c;
}

hr {
    color: black;
    height: 2px;
    border-width: 0;
    background: black;
    width: 60%;
    margin: 0 auto;
}

h1 {
    font-size: 2em;
    text-align: center;
}

.box {
    background:#FFDBC3;
    color:#5C4B99;
    width:80%;
    height: 100%;
    
    padding: 10px;
    margin: auto;
   
}

table {
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
}